.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.book-content {
    margin-bottom: 80px;
}

/*.book-block {*/
    /*border: 1px solid #ff9400;*/
/*}*/

.book {
    margin: 0 10px 8px 0px;
    /*background-color: whitesmoke;*/
}

.book img {
    max-height: 300px;
}

nav {
    background-color: #17a2b8;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #17a2b8;
    text-align: center;
}

.footer p {
    margin: 20px 0 20px 0;
}