{% extends 'shop/base.html' %}

{% block content %}

{% if request.user.is_superuser %}
<a class="btn btn-info" href="{% url 'book_edit' pk=book.pk %}">
    Edit
</a>
<a class="btn btn-danger" href="{% url 'book_delete' pk=book.pk %}">
    Delete
</a>
{% endif %}

<div class="book-details">
    <h3>{{ book.title }} - {{ book.author }}</h3>
    <p></p>
    <p>{{ book.description|linebreaksbr }}</p>
    <p>ISBN: {{ book.isbn }}</p>
    <p class="date">
        <p>Published at: {{ book.publish_date }}</p>
    </p>
    <p>${{ book.price }}</p>
</div>
{% endblock %}