{% extends 'shop/base.html' %}

{% block content %}
<div class="row">
    <div class="dropdown">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="margin-left: 15px;">
            Order by
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="?new-first=True">New first</a>
            <a class="dropdown-item" href="?order=old-first">Old first</a>
        </div>
    </div>
    {% if request.user.is_superuser %}
    <a class="btn btn-success" href="book/new" style="margin-left: 15px">
        New book
    </a>
    {% endif %}
</div>

<div class="row" style="margin-top: 30px;">
    {% for book in books %}
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 book-card">
        <div class="card book">
            <div class="card-body">
                <h4 class="card-title">{{ book.title }}</h4>
                <p class="card-text">{{ book.author }}</p>
                <p class="date">
                    {{ book.publish_date|date:"Y M d" }}
                </p>
                <p class="card-text book-price">$ {{ book.price }}</p>
                <a href="{% url 'book_details' pk=book.pk %}" class="btn btn-info stretched-link">See Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}