{% extends 'shop/base.html' %}

{% block content %}

<div class="container" style="margin-top: 30px;">
    <h1>HTTP Logs</h1>
    {% for log in http_logs %}
        <div class="row" style="margin-left: 0px;">
            [{{log.create_datetime}}]  {{log.level}}  {{log.msg}}  {{log.trace}}
        </div>
    {% endfor %}
</div>

<div class="container" style="margin-top: 30px;">
    <h1>CRUD Logs</h1>
    {% for log in crud_logs %}
        <div class="row" style="margin-left: 0px;">
            [{{log.created}}]  {{log.msg}}  {{log.trace}}
        </div>
    {% endfor %}
</div>

{% endblock %}